# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
.venv/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

# IDE config files
.vscode/
.idea/

# Python egg info
*.egg-info/

# Log files
*.log
